@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
  --foreground: #202020;
  --primary: #E4E4E4;
  --secondary: #969696;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}